.footer {
  position: relative;
  background: #302a47;
  padding-top: 100px;
}

@media (max-width: 1024px) {
  .footer {
    padding-top: 32px;
  }
}

.footer__container {
  position: relative;
  z-index: 1;
}

.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 100px;
  width: 100%;
}

.footer__logo svg {
  -webkit-transition: fill 0.15s ease-in-out;
  transition: fill 0.15s ease-in-out;
  cursor: pointer;
  fill: #fff;
}

.footer__logo svg:hover {
  fill: #ef496f;
}

.footer__bg {
  height: auto;
  width: 350px;
  fill: #3a354f;
  z-index: 0;
  pointer-events: none;
  overflow: hidden;
  position: absolute;
  top: 72px;
  right: 10%;
}

.footer__bg svg {
  width: 100%;
  height: 100%;
}

.footer__item a {
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 120%;
  color: #ffffff;
  padding-bottom: 3px;
  border-bottom: 1px solid #ef496f;
  -webkit-transition: border-color 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out;
}

.footer__item a:hover {
  border-bottom: 1px solid #c4c4c4;
}

.footer__sublist {
  margin-top: 40px;
}

.footer__sublink {
  margin-bottom: 20px;
}

.footer__sublink a {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 120%;
  color: #ffffff;
  padding-bottom: 3px;
  border-bottom: 1px solid #c4c4c4;
  margin-bottom: 20px;
  -webkit-transition: border-color 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out;
}

.footer__sublink a:hover {
  border-bottom: 1px solid #ef496f;
}

.footer__item {
  display: block;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__nav {
  max-width: 1020px;
  width: 100%;
}

@media (max-width: 1300px) {
  .footer__nav {
    max-width: 800px;
  }
}

@media (max-width: 1024px) {
  .footer__nav {
    display: none;
  }
}

.footer__nav--mobile {
  display: none;
}

@media (max-width: 1024px) {
  .footer__nav--mobile {
    display: block;
  }
}

.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 70px 0;
  padding-top: 0px;
}

@media (max-width: 1024px) {
  .footer__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding: 0 48px;
    padding-bottom: 32px;
  }
}

.footer__bottom {
  background: #3a354f;
  padding: 70px 95px 45px;
}

@media (max-width: 700px) {
  .footer__bottom {
    padding: 50px 30px 20px;
  }
}

.footer__bottom--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 530px;
  width: 100%;
}

@media (max-width: 1024px) {
  .footer__bottom--list {
    margin-bottom: 70px;
  }
}

@media (max-width: 500px) {
  .footer__bottom--list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 500px) {
  .footer__bottom--item {
    margin-bottom: 20px;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}

.footer__bottom--item a {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 120%;
  color: #ffffff;
  padding-bottom: 5px;
  border-bottom: 1px solid #c4c4c4;
}

.footer__bottom--item a:hover {
  border-bottom: 1px solid #ef496f;
  -webkit-transition: border-color 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out;
}

.footer__bottom--desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 120%;
  color: #ffffff;
}

@media (max-width: 1024px) {
  .footer__bottom--desc {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer__bottom--invest {
  max-width: 650px;
  width: 100%;
  margin-right: 20px;
}

@media (max-width: 1024px) {
  .footer__bottom--invest {
    margin-bottom: 30px;
    margin-right: 0;
  }
}

.footer__bottom--copyright {
  max-width: 400px;
  width: 100%;
}

.footer__bottom--socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 285px;
  width: 100%;
}

.footer__bottom--img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  fill: #fff;
  cursor: pointer;
}

.footer__bottom--img svg {
  height: auto;
  width: 24px;
  -webkit-transition: fill 0.15s ease-in-out;
  transition: fill 0.15s ease-in-out;
}

.footer__bottom--img:hover {
  fill: #ef496f;
}

.footer__bottom--nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 70px;
}

@media (max-width: 1024px) {
  .footer__bottom--nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.nav__mobile--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nav__mobile--item {
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #fff;
  position: relative;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 30px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
  padding-bottom: 30px;
}

.nav__mobile--item a {
  color: #fff;
  padding-bottom: 8px;
  border-bottom: 1px solid #ef496f;
  -webkit-transition: border-color 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out;
}

.nav__mobile--item:hover a {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.nav__submenu a {
  border-bottom: 1px solid;
  border-color: rgba(255, 255, 255, 0.3);
  -webkit-transition: border-color 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out;
}

.nav__submenu--item {
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  font-size: 16px;
  line-height: 24px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 18px;
}

.nav__submenu--item:hover a {
  border-color: #ef496f;
}
/*# sourceMappingURL=footer.css.map */