@charset "UTF-8";
.shares {
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  padding-top: 220px;
  position: relative;
  background: linear-gradient(287.65deg, #ffc0cf -38.52%, #fef3f6 87.53%);
  height: 100vh;
}

.shares__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1024px) {
  .shares__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.shares__title {
  max-width: 950px;
  width: 100%;
  font-style: normal;
  font-weight: 800;
  font-size: calc(72px + 24 * ((100vw - 1024px) / 256));
  line-height: 120%;
  color: #ef496f;
  margin-bottom: 20px;
}

@media (max-width: 1450px) {
  .shares__title {
    max-width: 700px;
  }
}

@media (max-width: 1024px) {
  .shares__title {
    max-width: 100%;
    font-size: 60px;
  }
}

@media (max-width: 400px) {
  .shares__title {
    font-size: 50px;
  }
}

.shares__text {
  max-width: 788px;
  width: 100%;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 120%;
  color: #1e1e1e;
  margin-bottom: 50px;
}

@media (max-width: 1450px) {
  .shares__text {
    max-width: 500px;
  }
}

@media (max-width: 1024px) {
  .shares__text {
    max-width: 100%;
    font-size: 16px;
    margin-bottom: 20px;
  }
}

.shares__button {
  padding: 20px;
  background: #ef496f;
  border-radius: 100px;
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 120%;
  color: #ffffff;
}

.shares__button:hover {
  background: #fff;
  color: #ef496f;
}

@media (max-width: 1024px) {
  .shares__button {
    font-size: 16px;
  }
}

.shares__img {
  position: absolute;
  width: 450px;
  right: 300px;
  bottom: -175px;
  z-index: 0;
}

.shares__img img {
  width: 100%;
  overflow-y: hidden;
}

@media (max-width: 1600px) {
  .shares__img {
    right: 150px;
  }
}

@media (max-width: 1450px) {
  .shares__img {
    right: 50px;
  }
}

@media (max-width: 1024px) {
  .shares__img {
    position: static;
    bottom: 0;
    right: 20%;
  }
}

@media (max-width: 768px) {
  .shares__img {
    width: 300px;
  }
}

@media (max-width: 400px) {
  .shares__img {
    width: 200px;
  }
}

.shares__pretitle {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 120%;
  color: #1e1e1e;
  position: absolute;
  bottom: 8px;
  z-index: 20;
}

@media (max-width: 1024px) {
  .shares {
    padding-top: 70px;
    height: auto;
  }
}

.titles__img {
  width: 100px;
  height: 100px;
}

.titles {
  background: #fff;
  padding: 175px 0;
}

.titles__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

@media (max-width: 1600px) {
  .titles__inner {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 100%;
  }
}

.titles__card {
  border-radius: 25px;
}

.titles__card:nth-child(1) {
  background: #fedee5;
  padding-top: 10px;
}

.titles__card:nth-child(1) .titles__img {
  max-width: 415px;
  width: 100%;
  height: auto;
}

@media (max-width: 1144px) {
  .titles__card:nth-child(1) .titles__img {
    max-width: 100%;
    height: auto;
  }
}

.titles__card:nth-child(2) {
  background: #302a47;
}

.titles__card:nth-child(2) .titles__title,
.titles__card:nth-child(2) .titles__text,
.titles__card:nth-child(2) .titles__link {
  color: #fff;
}

.titles__card:nth-child(2) .titles__img {
  width: 100%;
  height: auto;
  border-radius: 25px;
  height: 325px;
}

@media (max-width: 1144px) {
  .titles__card:nth-child(2) .titles__img {
    height: auto;
  }
}

@media (max-width: 1144px) {
  .titles__card:nth-child(2) {
    margin-top: 60px;
  }
}

.titles__card:nth-child(3) {
  background: #d1e9d8;
}

.titles__card:nth-child(3) .titles__img {
  max-width: 428px;
  width: 100%;
  height: 333px;
  margin: 0 auto;
}

@media (max-width: 1600px) {
  .titles__card:nth-child(3) .titles__img {
    max-width: 100%;
    height: auto;
  }
}

@media (max-width: 1600px) {
  .titles__card:nth-child(3) .titles__text {
    max-width: 100%;
  }
}

@media (max-width: 1600px) {
  .titles__card:nth-child(3) {
    margin-top: 60px;
    width: 100%;
  }
}

.titles__img {
  height: 325px;
}

.titles__wrapper {
  padding: 60px;
}

@media (max-width: 1144px) {
  .titles__wrapper {
    padding: 32px;
  }
}

.titles__title {
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 120%;
  color: #1e1e1e;
  margin-bottom: 20px;
}

.titles__text {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 120%;
  color: #1e1e1e;
  margin-bottom: 40px;
  max-width: 395px;
  width: 100%;
}

@media (max-width: 1144px) {
  .titles__text {
    max-width: 100%;
  }
}

.titles__link {
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 120%;
  color: #1e1e1e;
  padding-bottom: 10px;
  border-bottom: 2px solid #ef496f;
  display: inline-block;
  width: auto;
}

.titles__link::after {
  content: "→";
  font-size: 21px;
  width: 30px;
  height: 30px;
}

@media (max-width: 1161px) {
  .titles__second .titles__inner {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 100%;
  }
}

.titles__second .titles__card {
  padding: 60px;
}

.titles__second .titles__card:nth-child(2) {
  padding-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  background: #ffedc6;
}

.titles__second .titles__card:nth-child(2) .titles__title,
.titles__second .titles__card:nth-child(2) .titles__text,
.titles__second .titles__card:nth-child(2) .titles__link {
  color: #1e1e1e;
}

.titles__second .titles__card:nth-child(2) .titles__img {
  max-width: 410px;
  width: 100%;
  margin-top: 53px;
}

@media (max-width: 1161px) {
  .titles__second .titles__card:nth-child(2) .titles__img {
    max-width: 100%;
    height: auto;
  }
}

@media (max-width: 1161px) {
  .titles__second .titles__card:nth-child(2) {
    margin-top: 60px;
    max-width: 100%;
  }
}

.titles__second .titles__card:nth-child(3) {
  padding-top: 0;
}

.titles__second .titles__card:nth-child(3) .titles__wrapper {
  margin-right: 0;
}

@media (max-width: 1600px) {
  .titles__second .titles__card:nth-child(3) .titles__wrapper {
    max-width: 100%;
  }
}

.titles__second .titles__card:nth-child(3) .titles__img {
  margin-bottom: 20px;
}

@media (max-width: 1600px) {
  .titles__second .titles__card:nth-child(3) .titles__img {
    display: block;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
}

@media (max-width: 1600px) {
  .titles__second .titles__card:nth-child(3) .titles__text {
    max-width: 100%;
  }
}

.titles__second .titles__card:nth-child(1) .titles__img {
  margin-bottom: 60px;
}

@media (max-width: 1161px) {
  .titles__second .titles__card:nth-child(1) .titles__img {
    max-width: 100%;
    height: auto;
  }
}

@media (max-width: 1161px) {
  .titles__second .titles__card {
    max-width: 100%;
    padding: 32px;
  }
}

.titles__second .titles__wrapper {
  padding: 0;
  max-width: 400px;
  width: 100%;
}

@media (max-width: 1161px) {
  .titles__second .titles__wrapper {
    max-width: 100%;
  }
}

@media (max-width: 1161px) {
  .titles__second .titles__text {
    max-width: 100%;
  }
}

@media (max-width: 1161px) {
  .titles {
    padding: 60px 0;
  }
}

.started {
  background: #ffedc6;
  padding-top: 170px;
  padding-bottom: 200px;
}

.started__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1024px) {
  .started__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.started__bg img {
  max-width: 800px;
  width: 100%;
}

.started__content {
  max-width: 565px;
  width: 100%;
}

.started__title {
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 120%;
  color: #1e1e1e;
  margin-bottom: 20px;
}

@media (max-width: 1024px) {
  .started__title {
    font-size: 20px;
    margin-bottom: 4px;
  }
}

.started__pretitle {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 120%;
  color: #1e1e1e;
  margin-bottom: 60px;
}

.started__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 40px;
}

.started__item--number {
  max-width: 50px;
  width: 100%;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 120%;
  color: #1e1e1e;
}

.started__item--title {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  color: #1e1e1e;
  margin-bottom: 15px;
}

.started__item--text {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 120%;
  color: #1e1e1e;
}

.started__item:nth-last-child(1) {
  margin-bottom: 60px;
}

.started__button {
  background: #ef496f;
  border-radius: 100px;
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 120%;
  color: #ffffff;
  padding: 20px;
  cursor: pointer;
}

.started__button:hover {
  background: #ffe2e8;
  color: #ef496f;
  border-color: #ffe2e8;
  -webkit-transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

@media (max-width: 1024px) {
  .started {
    padding: 70px 0px;
  }
}

.investors {
  padding-bottom: 80px;
}

.investors__title {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 120%;
  color: #1e1e1e;
  max-width: 470px;
  width: 100%;
}

@media (max-width: 1024px) {
  .investors__title {
    max-width: 100%;
  }
}

.investors__pretitle {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 120%;
  color: #1e1e1e;
  margin-bottom: 25px;
}

.investors__link {
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 120%;
  color: #1e1e1e;
  padding-bottom: 10px;
  border-bottom: 2px solid #ef496f;
  display: inline-block;
  width: auto;
}

.investors__link::after {
  content: " →";
  font-size: 21px;
  width: 30px;
  height: 30px;
}

.investors__gallery {
  overflow-x: scroll;
}

.investors__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 80px;
}

@media (max-width: 1024px) {
  .investors__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.investors__text {
  max-width: 600px;
  width: 100%;
}

@media (max-width: 1024px) {
  .investors__text {
    max-width: 100%;
  }
}

@media (max-width: 1024px) {
  .investors__img {
    height: 225px;
  }
}

@media (max-width: 600px) {
  .investors__img {
    height: 125px;
  }
}

.awards__title {
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 120%;
  text-align: center;
  color: #1e1e1e;
  margin-bottom: 60px;
}

@media (max-width: 600px) {
  .awards__title {
    font-size: 32px;
  }
}

.awards__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 100px;
  width: 100%;
}

@media (max-width: 1200px) {
  .awards__inner {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.awards__item {
  max-width: 300px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  opacity: 0.8;
  -webkit-transition: opacity 0.15s ease-in-out, -webkit-filter 0.15s ease-in-out;
  transition: opacity 0.15s ease-in-out, -webkit-filter 0.15s ease-in-out;
  transition: filter 0.15s ease-in-out, opacity 0.15s ease-in-out;
  transition: filter 0.15s ease-in-out, opacity 0.15s ease-in-out, -webkit-filter 0.15s ease-in-out;
}

.awards__item:hover {
  opacity: 1;
  -webkit-filter: none;
          filter: none;
}

@media (max-width: 1200px) {
  .awards__item {
    margin-left: 20px;
  }
}

@media (max-width: 1200px) {
  .awards__item:nth-last-child(1) {
    margin-left: 0px;
    margin-top: 20px;
  }
}

.join {
  padding-top: 100px;
  padding-bottom: 120px;
}

.join__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  background: #a6d38e;
  border-radius: 25px;
  position: relative;
  z-index: 10;
  height: 436px;
}

@media (max-width: 1440px) {
  .join__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    height: auto;
  }
}

.join__title {
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 120%;
  color: #1e1e1e;
  margin-bottom: 25px;
  max-width: 656px;
  width: 100%;
  margin-top: 115px;
  margin-left: 120px;
}

@media (max-width: 1600px) {
  .join__title {
    margin-left: 32px;
    max-width: 395px;
  }
}

@media (max-width: 1440px) {
  .join__title {
    margin-top: 40px;
    font-size: calc(40px + 14 * ((100vw - 420px) / 1020));
  }
}

@media (max-width: 450px) {
  .join__title {
    max-width: 320px;
    margin-left: 10px;
  }
}

.join__button {
  background: #ffffff;
  border-radius: 100px;
  padding: 20px 30px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
  color: #1e1e1e;
  max-width: 200px;
  margin-left: 120px;
  -webkit-transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

@media (max-width: 1600px) {
  .join__button {
    margin-left: 32px;
  }
}

.join__button:hover {
  background: #1e1e1e;
  color: #fff;
}

@media (max-width: 1440px) {
  .join__button {
    margin-bottom: 40px;
    max-width: 240px;
  }
}

@media (max-width: 450px) {
  .join__button {
    margin-left: 10px;
  }
}

.join__img {
  position: absolute;
  right: 0;
  z-index: 9;
}

@media (max-width: 1440px) {
  .join__img {
    position: static;
  }
}

.advice {
  padding-bottom: 140px;
}

.advice__title {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 120%;
  color: #1e1e1e;
  text-align: left;
}

@media (max-width: 1024px) {
  .advice__title {
    margin-bottom: 20px;
  }
}

.advice__text {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 120%;
  color: #1e1e1e;
  margin-bottom: 25px;
}

@media (max-width: 1024px) {
  .advice__text {
    margin-bottom: 40px;
  }
}

.advice__link {
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 120%;
  color: #1e1e1e;
  padding-bottom: 10px;
  border-bottom: 2px solid #ef496f;
  display: inline-block;
  width: auto;
}

.advice__link::after {
  content: " →";
  font-size: 21px;
  width: 30px;
  height: 30px;
}

.advice__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1024px) {
  .advice__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.advice__desc {
  max-width: 650px;
  width: 100%;
}
/*# sourceMappingURL=index.css.map */